<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFhCqlq4Hsl4mAJINEHJ2P56DD_RfuXS0</string>
	<key>GCM_SENDER_ID</key>
	<string>337493064108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kodewizzard.ystfamily</string>
	<key>PROJECT_ID</key>
	<string>ystfamily-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>ystfamily-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337493064108:ios:6d777ee2b90effb4fc6209</string>
</dict>
</plist>